<span className="preheader"></span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" className="body">
    <tr>
        <td>&nbsp;</td>
        <td className="container">
            <div className="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" className="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td className="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p>Hello,</p>
                                        <p>We Regret to see yo Go !!!.</p>
                                        <b>Kindly give feedback so we can improve our services ?</b>
                                        <button style="float: right;">subscribe back</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

                <!-- START FOOTER -->
                <div className="footer">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td className="content-block">
                                <span className="apple-link">Capitech Credit Ltd, 3rd flr Rehema house ,Kimathi
                                    street</span>

                            </td>
                        </tr>
                        <tr>
                            <td className="content-block powered-by">
                                Powered by <a href="">softerwares</a>.
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END FOOTER -->

            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>